@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.icon{
padding: 0px;
cursor: pointer;
align-self: self-end;
margin-top: 15px;
margin-bottom: 25px;
background-color: #ffffff00;
border: none;
}

.material-icons{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.459);
}
